footer
  strong Interested in working with me?
  p.
    Awesome! I'm available for full-time or freelance opportunities. <br>
    Get in touch:
  ul.contact
    li
      a.email(href='mailto:SebastianLorenzo@gmail.com')
        strong SebastianLorenzo@gmail.com
    li
      a.github(href='https://github.com/slorenzo', target='blank')
        strong github.com/slorenzo
    li
      a.stackoverflow(href='http://stackoverflow.com/users/1741027/sebastian-lorenzo', target='blank')
        strong sebastian-lorenzo
    li
      a.linkedin(href='https://www.linkedin.com/in/lorenzosebastian/', target='blank')
        strong linkedin.com/in/lorenzosebastian/
    