section.profile
  .avatar
    img(src='img/profile.png')
    img.flag(src='img/flag.png')
  h1 Sebastian Lorenzo
  h2.title Javascript Developer
  h3.location Buenos Aires, Argentina
  .boxes
    .box #[span #[strong 25] #[br] y/o]
    .box #[span #[strong 5+] #[br] y/experience]
    .box #[span #[strong 10] #[br] projects delivered]