h1#about About Me
p.
  I'm a Javascript developer with 5+ year of experience.
p.
  I love to work on innovative projects using new technologies, and take new challenges to never stop learning. I like to create scalable and high quality enterprise web applications.
p.
  I've won two hackathons in my country. Each competition had about 120 participants and a high level programming. It was a great experience in my professional career.
p.
  I love experimenting in the latest web concepts like
ul.list
  li ES6
  li ReactJS universe
  li Node.js
  li WebSockets
  li NoSQL databases
  li GraphQL
br
h2.muted Languages I speak
br
.languages
  img(src='img/spanish.png')
  img(src='img/english.png')
br
h2.muted Places I've Been
br
.map
  img(src='img/map.png')
ul.circle
  li.worked Living and Working
  li.visited Cultural Experience