section
  h1#education Education
  article
    h2 English Courses #[span.period 2015 to present]
    p I started going to different courses but putting the focus on speaking.

  article
    h2 Buenos Aires University #[span.period 2009 to present]
    p.title Bachelor of Computer Information Systems
    p.
      Inspired by my vocation for software development, I started this career in one of the best universities in Argentina.
      