h1#experience Work Experience
h2 Globant #[span.period 2016 to 2017]
p.title Senior UI developer
p.
  I built user interfaces in the latest technologies such as React.js, Redux, Sass, Webpack, Node.js, NPM for JPMorgan Chase & Co.
  I was in charge of three developers and with them we're building the user interface that the client needs.

h2 Stadiumusic (Personal Project) #[span.period 2012 to present]
p.title Lead Javascript developer
p.
  StadiuMusic is a great social network where you can listen music and meet cool people.
  StadiuMusic has 16000+ lines of Javascript code. When I started, the project was just an idea. I was in charge of building the architecture of the application. I'm always looking for new technologies.
p.
  We built Stadiumusic as a single page application, using 
  NodeJs on the backend and Backbone technologies
  on the frontend.

h2 Swiss Medical Group #[span.period 2013 to 2015]
p.title Ssr. Web developer
p.
  Swiss Medical Group is a big health insurance company. 
  They needed a new public website because they're in a highly competitive market.
  I was involved from the beginning of the project, defining the product until it was deployed in production environment.
  I keep a great experience because I could be in all life cycle of the product.

h2 HSBC Bank #[span.period 2013 to 2013]
p.title Web Developer
p.
  We built the public site of the HSBC Bank. It was a great experience because we had to be very careful due to big impact in the users (3MM+). When I started in this team, the project hadn't started yet. Because of that, I was at each phase of the cycle of life of the product: design, development, testing, implementation, corrections.