h1#skills Skills and Personal Attributes
ul.skills
  li HTML & CSS
  li Javascipt
  li ES6
  li React
  li Redux
  li Backbone
  li Require.js
  li Underscore/Lodash
  li Mongoose/MongoDB
  li NodeJS-Express
  li GraphQL
  li Socket.io
  li Docker
  li Git
