.circle
  padding-left 0
  margin-left -5px
  list-style none
  li
    display inline-block
    padding .3rem 2rem .3rem 30px
    position relative
    line-height: .5

    &:before
      content ""
      position absolute
      left 5px
      width 20px
      height 20px
      bottom: 0px
      background-image url('../img/circles.png')
      background-repeat no-repeat

    &.worked:before
      background-position 0 -23px

    &.visited:before
      background-position 0 0