ul.skills
  margin 0
  padding 0
  list-style none
  
  li
    display inline-block
    margin-right 2%
    margin-bottom 1rem
    padding: .7rem .7rem
    font-weight 700
    line-height 1
    text-align center
    white-space nowrap
    vertical-align middle
    background-color grey-light
    border-radius 2rem


ul.list
  margin 0
  padding 0
  list-style none

  li:before
    content "\2666"
    margin-right 10px