grey-strong = #646261
grey-middle = #838383
grey-light = #f0f0f0
links-color = grey-strong
sidebar-background-color = #fafafa
summary-background-color = grey-light
active-link-bg-color = summary-background-color
menu-link-color = #000

border-color = #dad9da
border-specs = 1px solid border-color

font-size-base = 1rem
font-size-small = font-size-base - .2rem
font-size-big = font-size-base + .2rem
font-size-huge = font-size-base + .8rem

transitions-delay = 200ms

sidebar-padding = 11%
sidebar-mobile-padding = 5%

mobile-max-width = 480px