doctype
html
  head
    include ./templates/head/head.jade
  body
    main
      section#sidebar.sidebar
        include ./templates/sidebar/profile.jade
        include ./templates/sidebar/nav.jade
        include ./templates/sidebar/footer.jade
      section#content.content
        a(href='#')#sidebar-toggle #[img(src='img/menu.png')]
        include ./templates/content/about.jade
        include ./templates/content/education.jade
        include ./templates/content/experience.jade
        include ./templates/content/skills.jade